Entry {
    font-size: 21;
    height: 45;
    color: #1b1b1b;
}

Picker {
    font-size: 21;
    height: 45;
    color: #1b1b1b;
}

DatePicker {
    font-size: 21;
    height: 45;
    color: #1b1b1b;
}

Button {
    background-color: #c62828;
    color: #ffffff;
    height: 46;
    font-size: 18;
    min-width: 100;
}

Label {
    color: #1b1b1b;
}

Frame {
    background-color: #ffffff;
}

SearchBar {
    color: #1b1b1b;
    height: 46;
    font-size: 18;
}

.LabelClass {
    font-size: 16;
}

.SettingsLabel {
    font-size: 14;
    color: #6d6d6d;
}