Entry {
    font-size: 22;
    height: 45;
    color: #1b1b1b;
}

button {
    background-color: #c62828;
    color: #ffffff;
    height: 46;
    font-size: 18;
    min-width: 100;
}

label {
    color: #1b1b1b;
}

.LabelClass {
    font-size: 16;
}

.SettingsLabel {
    font-size: 14;
    color: #6d6d6d;
}